@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

html {
    font: 18px/3 Arial, serif
}

body {
    font: inherit;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 12.6px 27px;
    border-radius: 5.4px;
}

i {
    padding-right: 5.4px;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

a:hover {
    color: #eee;
}