table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    text-align: start;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr {
    border: 1px solid #000;
}