* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 1em;
}

body > * {
    background-color: #b5d8ff;
    border-radius: 0.3em;
}

ul {
    list-style-position: inside;
}

body > header {
    flex: 1 0 100%;
    padding: 1em;
}

body > main {
    flex: 1 0 70%;
    padding: 1em;
}

main > h2 {
    margin-bottom: 0.5em;
}

.inner {
    padding-left: 1em;
}

body > aside {
    flex: 1 1 auto;
    padding: 1em;
}

body > footer {
    flex: 1 0 100%;
    padding: 0.5em 1em;
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul li {
    padding: 0.2em;
}

nav ul a {
    /* display: block; */
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
    background-color: #6baffd;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }
}