body {
    --s: 3em; /* control the size */
    
    --_g: #0000 83%,#fbfbfb 85% 99%,#0000 101%;
    background:
      radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
      radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
      radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
      radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
      #fff;
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.sign-up {
    background-color: #68347b;
}

.testimonials {
    --s: 40px; /* control the size */
    
    --_c: #0000 75%,#fbfbfb 0; /* color 1 */
    --_g1: conic-gradient(at 10% 50%,var(--_c));
    --_g2: conic-gradient(at 50% 10%,var(--_c));
    background:
      var(--_g1),
      var(--_g1) calc(1*var(--s)) calc(3*var(--s)),
      var(--_g1) calc(2*var(--s)) calc(1*var(--s)),
      var(--_g1) calc(3*var(--s)) calc(4*var(--s)),
      var(--_g1) calc(4*var(--s)) calc(2*var(--s)),
      var(--_g2) 0                calc(4*var(--s)),
      var(--_g2) calc(1*var(--s)) calc(2*var(--s)),
      var(--_g2) calc(2*var(--s)) 0,
      var(--_g2) calc(3*var(--s)) calc(3*var(--s)),
      var(--_g2) calc(4*var(--s)) calc(1*var(--s)),
      #fff; /* color 2 */
    background-size: calc(5*var(--s)) calc(5*var(--s));
}
